/* --------------------------------------------------------------------------------------
    Variables:
 */
 
:root {
    --bg-color: rgba(255, 255, 240, 1);
    --body-color: rgba(240, 240, 225, 1);
}

/* --------------------------------------------------------------------------------------
    General elements:
 */

html {
    font-family: "Roboto";
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-color);
}

/* --------------------------------------------------------------------------------------
    The text-block:
*/

.text-container {
    width: 50vw;
    height: 50vh;
    background-color: var(--bg-color);
}
.text-wrapper {
    width: calc(50vw - 10px);
    padding: 0 10px 0 20px;
    text-align: justify;
}
.text-wrapper p {
    text-indent: 1rem;
}
.text-wrapper p:not(:last-child) {
    margin-bottom: 1rem;
}

/* --------------------------------------------------------------------------------------
    Utility classes:
*/

.scroll-container{
    overflow: hidden;
}
.scroll-container:hover {
    overflow-y: auto;
}
.box{
    box-shadow: 0px 0px 20px 0px rgba(100, 100, 100, 1);
}

.top-gradient-bar,
.bottom-gradient-bar {
    position: sticky;
    height: 1rem;
}
.top-gradient-bar {
    top: 0;
    background-image: linear-gradient(to top, transparent, var(--bg-color));
}
.bottom-gradient-bar {
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent, var(--bg-color));
}
