/* --------------------------------------------------------------------------------------
    Variables:
 */

:root {
	--bg-color: rgba(255, 255, 240, 1);
	--body-color: rgba(240, 240, 225, 1);
}

/* --------------------------------------------------------------------------------------
    General elements:
 */

* {
	box-sizing: border-box;
}

a, a:active, a:visited{
	color: rgba(0, 50, 255, 1);
}
a:hover{
	color: rgba(255, 0, 0, 1);
}

html {
	font-family: "Roboto";
	font-size: 16px;
}

body {
	height: 100vh;
	background-color: var(--body-color);
}

h1 {
	/* display: block; */
	margin: 0 10vw;
	padding: 20px;
	box-shadow: 0 15px 20px -20px rgba(100, 100, 100, 1);
	border-bottom: 1px solid rgba(100, 100, 100, 0.75);
	font-size: 2rem;
}

header {
	height: 10vh;
}

main {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	position: absolute;
	bottom: 0;
	margin: 0 10vw;
	height: 3rem;
	width: 80vw;
	box-shadow: 0 -20px 20px -20px rgba(100, 100, 100, 1);
	border-top: 1px solid rgba(100, 100, 100, 0.25);
}

/* --------------------------------------------------------------------------------------
    The text-block:
*/

.text-container {
	width: 50vw;
	height: 50vh;
	background-color: var(--bg-color);
}
.text-wrapper {
	width: calc(50vw - 10px);
	padding: 0 10px 0 20px;
	text-align: justify;
}
.text-wrapper p {
	text-indent: 1rem;
}
.text-wrapper p:not(:last-child) {
	margin-bottom: 1rem;
}

/* --------------------------------------------------------------------------------------
    The contents of the footer:
*/

footer p {
	width: 100%;
	padding: 1rem 20px;
	font-size: 0.9rem;
}

/* --------------------------------------------------------------------------------------
    Utility classes:
*/

.scroll-container {
	overflow: hidden;
}
.scroll-container:hover {
	overflow-y: auto;
}
.box {
	box-shadow: 0 0 20px 0 rgba(100, 100, 100, 1);
}

.top-gradient-bar,
.bottom-gradient-bar {
	position: sticky;
	height: 1rem;
}
.top-gradient-bar {
	top: 0;
	background-image: linear-gradient(to top, transparent, var(--bg-color));
}
.bottom-gradient-bar {
	bottom: 0;
	background-image: linear-gradient(to bottom, transparent, var(--bg-color));
}
