/* Firefox scrollbar-properties: */

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 100, 100, 1) var(--bg-color);
}

/* Webkit scrollbar-properties: */

*::-webkit-scrollbar {
    width: 20px;
}
/* Scrollbar-track */
*::-webkit-scrollbar-track {
    background: var(--bg-color);
}
/* Scrollbar-handle */
*::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.5);
    border: 6px solid var(--bg-color); /* same color as the background of the containing element */
    border-radius: 10px;
    opacity: 0.5;
}
/* Scrollbar-handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 1);
}
